{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="text-break fs-5 lh-base px-2 pt-3">
        Конференции традиционно проводятся два раза в год — весной и осенью. С докладами выступают студенты АУ
        и учащиеся ФТШ, а также гости из других университетов. Слушателями становятся студенты младших курсов,
        преподаватели и сотрудники АУ и Лицея ФТШ, а также ученые ФТИ им. А.Ф. Иоффе.
    </p>
    <p class="text-break text-center fs-5 lh-base p-2 border border-3 rounded border-success">
        Организаторами Конференции являются студенты Академического Университета им. Ж.И. Алфёрова. Конференция
        проводится на добровольных началах, участие в Конференции бесплатное.
    </p>
    <hr class="my-5">
    <p class="h3 px-2 text-uppercase">
        <strong>Подать заявку:</strong>
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Чтобы принять участие в НЕконференции, необходимо заполнить форму в <a href="/user/account" class="text-reset">личном кабинете</a>
        после регистрации. Выбирайте тип доклада: фундаментальный или прикладной.
    </p>
    {# <p class="text-break fs-5 lh-base px-2 pt-2"> #}
    {# Прием заявок закрыт. С тезисами участников VI Студенческой конференции можно ознакомиться по <a href="/static/abstracts_full.pdf">ссылке</a>. #}
    {# <p> #}
    <br>
    <p class="h3 pt-3 px-2 text-uppercase">
        <strong>Стать гостем:</strong>
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Посетить Конференцию без доклада может любой желающий по предварительной регистрации на сайте с
        указанием формата участия "без доклада".
    </p>
    <br>
    {#<p class="h3 px-2 text-uppercase">#}
    {#    <strong>Программа Студенческой конференции:</strong>#}
    {#</p>#}
    {#<img class="img-fluid pt-4" src="/static/img/program.webp">#}
    {# <p class="text-break fs-5 lh-base px-2 pt-2"> #}
    {# <ul class="ms-5 fs-5"> #}
    {# <li class="pb-2 fs-5">Даниил Сенчук — Двухмагнонные моды антиферромагнетика MnF2</li> #}
    {# <li class="pb-2 fs-5">Ангелина Шигарова (СПбПУ) — Реализация инструмента анализа ВАХ полупроводниковых полевых катодов</li> #}
    {# <li class="pb-2 fs-5">Софья Дробчик (СПбГУ) — Гравитационная неустойчивость  в протопланетных дисках</li> #}
    {# <li class="pb-2 fs-5">Анна Поплевка — Влияние Шероховатости стенок на протекание жидкости в каналах микрофлюидных МЭМС ячеек</li> #}
    {# <li class="pb-2 fs-5">Елена Денисова (ИАП РАН) — Применение нейронных сетей для анализа электрокардиосигналов сверхвысокого разрешения</li> #}
    {# <li class="pb-2 fs-5">Илья Тетенькин (ЛЭТИ) — Нанесение металлических контактов на объёмные кристаллы Ga2O3</li> #}
    {# <li class="pb-2 fs-5">Кофе-брейк!</li> #}
    {# <li class="pb-2 fs-5">Надежда Ченцова (СПбПУ) — Откуда берется ошибка в два порядка при квантовомеханическом туннелировании при измерениях в макромире</li> #}
    {# <li class="pb-2 fs-5">Анастасия Малевская — Моделирование вольт-амперных характеристик и оптимизация фотоэлектрических преобразователей с точечным тыльным контактом</li> #}
    {# <li class="pb-2 fs-5">Даниил Пономарев — Разработка программы для моделирования звездного ядра</li> #}
    {# <li class="pb-2 fs-5">Ксения Балашова (СПбПУ) — Исследование и оптимизация процесса подготовки катализатора для выращивания углеродных нанотрубок</li> #}
    {# <li class="pb-2 fs-5">Дмитрий Бабин — Неаффинные деформации в аморфных материалах</li> #}
    {# <li class="pb-2 fs-5">Наталья Ионова (СПбГУ) — Любительская астрофотография</li> #}
    {# </ul> #}
    {# </p> #}
    {# <p class="text-break fs-5 lh-base px-2 pt-2">Будет опубликована к 10 мая.</p> #}
{% endblock %}
