<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="students, conference, science, university" content="foo,bar" />
        <meta name="site of a student conferece of Academic University (AU)."
              content="foo" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="icon" href="/static/img/icon1.svg" type="image/svg+xml">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/bootstrap-icons.min.css" rel="stylesheet" />
        <link href="/static/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-xl px-0 min-vh-100 d-flex flex-column">
            <header>
                <div class="my-bg-green text-center">
                    <img src="/static/img/banner1.webp" class="img-fluid w-100 rounded-3">
                </div>
            </header>
            <header class="navbar navbar-expand-md bd-navbar my-bg-green">
                <nav class="container-xxl flex-wrap flex-md-nowrap">
                    <a class="navbar-brand p-0 me-5" href="/">
                        <img src="/static/img/logo.svg"
                             width="64"
                             height="80"
                             class="d-block my-1">
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#bdNavbar"
                            aria-controls="bdNavbar"
                            aria-extended="false">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="32"
                             height="32"
                             class="bi"
                             fill="white"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                            </path>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse" id="bdNavbar">
                        <ul class="navbar-nav flex-col flex-wrap bd-navbar-nav pt-2 py-md-0 gap-3">
                            <li class="nav-item col-2 col-md-auto px-3">
                                <a class="nav-link p-2 fs-4 text-white text-nowrap" href="/">Главная</a>
                            </li>
                            <li class="nav-item col-2 col-md-auto px-3">
                                <a class="nav-link p-2 fs-4 text-white text-nowrap" href="/about">О конференции</a>
                            </li>
                            <li class="nav-item col-2 col-md-auto px-3">
                                <a class="nav-link p-2 fs-4 text-white text-nowrap" href="/participants">Участникам</a>
                            </li>
                            <li class="nav-item col-2 col-md-auto px-3">
                                <a class="nav-link p-2 fs-4 text-white text-nowrap" href="/gallery">Галерея</a>
                            </li>
                            <li class="nav-item col-2 col-md-auto px-3">
                                <a class="nav-link p-2 fs-4 text-white text-nowrap"
                                   href="{% if current_user %}/user/{{ current_user.id }}{% else %}/auth/login{% endif %}">Личный кабинет</a>
                            </li>
                        </ul>
                        <hr class="d-md-none text-white-50">
                    </div>
                </nav>
            </header>
            <main class="flex-grow-1">
                <div class="container-fluid px-1 py-3">
                    {% block main %}{% endblock %}
                </div>
            </main>
            <footer class="pt-5 my-5 border-top">
                <div class="col-12 px-3">
                    <p class="fs-6 mb-0">
                        <strong>Контакты для связи:</strong>
                    </p>
                    <p class="fs-6 mb-0">По организационным вопросам: (Дарья)</p>
                </div>
                <ul class="list-unstyled d-flex flex-row px-3">
                    <li class="me-3">
                        <a href="https://t.me/zibinskaya">
                            <img src="/static/img/telegram.svg"
                                 width="25"
                                 height="25"
                                 class="d-block my-3">
                        </a>
                    </li>
                    <li>
                        <a href="mailto:daryashishkina@list.ru">
                            <img src="/static/img/envelope-at-fill.svg"
                                 width="25"
                                 height="25"
                                 class="d-block my-3">
                        </a>
                    </li>
                </ul>
                <div class="col-12 px-3">
                    <p class="fs-6 mb-0">По вопросам работы сайта:</p>
                </div>
                <ul class="list-unstyled d-flex flex-row px-3">
                    <li class="me-3">
                        <a href="https://github.com/denisstrizhkin/conference-site/issues">
                            <img src="/static/img/github.svg"
                                 width="25"
                                 height="25"
                                 class="d-block my-3">
                        </a>
                    </li>
                </ul>
                <div class="d-flex justify-content-end px-3">
                    <p class="text-muted">Created by Den4ikRus & Syfer · © 2025</p>
                </div>
            </footer>
        </div>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
