{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="fs-3 text-center mt-5">
        <strong>Добро пожаловать на сайт студенческой конференции Академического университета им. Ж.И. Алфёрова</strong>
    </p>
    <hr class="my-5">
    <div>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Весенняя Студенческая Конференция АУ в этом году становится Научной
            НЕконференцией. Мы предлагаем два формата участия: классический (рекомендуется для
            студентов бакалавриата) и нелинейный (рекомендуется для студентов магистратуры и
            аспирантов).
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Классический формат: Вы рассказываете результаты своего исследования или делаете
            популярный доклад по своей научной теме.
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Нелинейный формат: Вы соглашаетесь на эксперимент по смене научной области, мы
            набираем таких же смельчаков и случайным образом распределяем темы.
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Cборник докладов доступен по <a href="/static/img/sbornik.pdf" class="text-reset">ссылке</a>.
        </p>
        {# <a href="/vote">Ссылка на голосование.</a> #}
        <img class="img-fluid pt-4" src="/static/img/anons.webp">
    </div>
{% endblock %}
