{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="fs-3 text-center mt-5">
        <strong>Добро пожаловать на сайт студенческой конференции Академического университета им. Ж.И. Алфёрова</strong>
    </p>
    <hr class="my-5">
    <div>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            VIII Студенческая NE.конференция АУ пройдет в формате битвы фундаментальной и прикладной науки.
            Регистрируйтесь как участник с докладом до 8 октября, не забудьте приложить файл One-pager. 
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Ждем не только оригинальные исследования, выполненные с руководителями и коллегами, но и,
            в особенности, научно-популярные доклады обо всем на свете. Конференция пройдет 13 октября
            в 16:30. Не затягивайте с заявкой! Для гостей вход свободный после регистрации на сайте как
            слушатель без доклада (до 12 октября).
        </p>
        {# <p class="text-break fs-5 lh-base px-2 pt-2"> #}
            {# Cборник докладов доступен по <a href="/static/img/sbornik.pdf" class="text-reset">ссылке</a>. #}
        {# </p> #}
        {# <a href="/vote">Ссылка на голосование.</a> #}
        <img class="img-fluid pt-4" src="/static/img/anons.webp">
    </div>
{% endblock %}
