{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="text-break fs-5 lh-base px-2 pt-2">
        В этот раз для участия в НЕконференции с представлением доклада необходимо выбрать
        формат своего доклада: “прикладной” или “фундаментальный” после регистрации на сайте и заполнить форму
        докладчика в <a href="/user/account" class="text-reset">личном кабинете</a>.
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">В этот раз мы не требуем классические тезисы доклада.</p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Всем участникам в качестве заявки необходимо подготовить один слайд презентации по
        <a href="/static/appl_templates/one-pager.pdf" class="text-reset">шаблону</a>
        и далее готовить полную презентацию к НЕконференции с обязательным наличием слайда-заявки в конце.
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        При выборе темы и подготовке доклада постарайтесь сделать акцент не на конретных результатах вашей работы,
        а на обзоре области ваших интересов или исследований. Главная задача - донести до слушателей
        в чем ценность выбранной темы и как она может повлиять на жизнь "обычных налогоплательщиков".
        Цель каждой из секций - доказать, что именно она является приоритетной и склонить слушателей с свою сторону!
    </p>
    <br>
    <p class="h3 pt-2 px-2 text-uppercase">
        <strong>Регламент и оформление презентации:</strong>
    </p>
    <ul class="ms-5 fs-5 pt-2">
        <li class="pb-2 fs-5">5 минут на устное выступление, 3 минуты на вопросы аудитории;</li>
        <li class="pb-2 fs-5">
            Подготовьте презентацию в цифровом виде заранее, использование меловой доски не предусмотрено;
        </li>
        <li class="pb-2 fs-5">На титульном слайде должны быть указаны название доклада и ФИО докладчика и руководителя;</li>
        <li class="pb-2 fs-5">Новые для слушателей определения выносите на слайды;</li>
        <li class="pb-2 fs-5">
            Не перегружайте слайды текстом, текст должен быть контрастным — темный на светлом фоне (особенности выведения презентации);
        </li>
        <li class="pb-2 fs-5">Каждый слайд должен иметь название и номер;</li>
        <li class="pb-2 fs-5">Цель и задачи (или план) вашего рассказа должны быть обозначены отдельно;</li>
        <li class="pb-2 fs-5">В конце не забывайте подводить итоги!</li>
    </ul>
    <br>
{% endblock %}
