{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div class="d-flex flex-wrap justify-content-center py-3">
        <div class="flex-grow-1 col-9 px-3">
            <div>
                {% block fill %}{% endblock %}
            </div>
        </div>
        <div class="schedule flex-grow-1 col-3 px-3">
            <div class="border border-success rounded-3 p-3">
                <ul>
                    <li class="pb-2 fs-6">
                        Начало регистрации:
                        <br>
                        <strong>24 сентября 2026 года</strong>
                    </li>
                    <li class="pb-2 fs-6">
                        Окончание приема заявок:
                        <br>
                        <strong>15 октября 2026 года</strong>
                    </li>
                    <li class="pb-2 fs-6">
                        Начало конференции:
                        <br>
                        <strong>16:30 20 октября 2026 года</strong>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <img class="img-fluid pt-4" src="/static/img/atom_gif.gif" />
            </div>
        </div>
    </div>
{% endblock %}
