.form-label {
    display: inline; 
}

.card__form {
  width: 40rem;
}

.schedule {
  min-width: 250px;
}

.my-bg-green {
  background-color: rgba(238, 191, 69, 1);
}

.border-success {
  border-color: rgba(238, 191, 69, 1) !important;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.carousel-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.rep-name-col {
  max-width: 400px;
  overflow: hidden;
}

.btn-danger {
  background-color: rgba(52, 33, 77, 1);
  border-color: rgba(52, 33, 77, 1);
}

.btn-danger:hover {
  background-color: rgba(52, 33, 77, 1);
  border-color: rgba(52, 33, 77, 0.3);
  box-shadow: 0 0 0 0.25rem rgba(52, 33, 77, 0.3);
}

.btn-success {
  background-color: rgba(238, 191, 69, 1);
  border-color: rgba(238, 191, 69, 1);
}

.btn-success:hover {
  background-color: rgba(238, 191, 69, 1);
  border-color: rgba(238, 191, 69, 0.3);
  box-shadow: 0 0 0 0.25rem rgba(238, 191, 69, 0.3);
}

.form-check-input:checked {
  background-color: rgba(238, 191, 69, 1);
  border-color: rgba(238, 191, 69, 1);
}

.form-check-input:hover {
  border-color: rgba(238, 191, 69, 1);
  box-shadow: 0 0 0 0.25rem rgba(238, 191, 69, 0.3);
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(238, 191, 69, 0.3);
}

.form-control:hover {
  box-shadow: 0 0 0 0.25rem rgba(238, 191, 69, 0.3);
}

.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(238, 191, 69, 0.3);
}

.form-select:hover {
  box-shadow: 0 0 0 0.25rem rgba(238, 191, 69, 0.3);
}
